#otp.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #333333;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid #fff;
    width: 17em;
    height: 12em;
}

#otp.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

#otp.form p {
    color: #fff;
    font-weight: bolder;
}

#otp.inp {
    margin-left: auto;
    margin-right: auto;
    white-space: 4px;
}

#otp.input+.input {
    margin-left: 0.5em
}

#otp.input {
    color: #fff;
    height: 2em;
    width: 2em;
    float: left;
    text-align: center;
    background: #00000000;
    outline: none;
    border: 1px #fff solid;
    border-radius: 5px;
    transition: all 0.6s ease;
    font-size: larger;
}

#otp.input:focus {
    outline: none;
    border: 1px #fff solid;
}

#otp.input:not(:placeholder-shown) {
    background-color: #fff;
    width: 1em;
    height: 1em
}

#otp.form button {
    margin-left: auto;
    margin-right: auto;
    background-color: #00000000;
    color: #fff;
    width: 8.5em;
    height: 2.3em;
    border: #fff 0.1em solid;
    border-radius: 5px;
    transition: all 0.5s ease;
}

#otp.form button:hover {
    background-color: #fff;
    color: #000
}